:root{
    --primary-color:#fcca60;
    --secondary-color:#777e85;
    --primary-size: 3rem;
    --secondary-size: 1.8rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.header{
    width: 100%;
    height: 36vh;
    background-image: url("./portada.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.download-button{
    display: inline-block;
    width: 140px;
    height: 40px;
    font-family: inherit;
    font-size: 2rem;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #ebd3bd;
}
.header--list{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 16px;
    margin-top :8px;
}
.list-item{
    list-style: none;
    border: 1px black solid;
    border-radius: 4px;
    background-color: #cfd6da;
    margin: 12px;
    padding: 4px;
}
.list-item a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--secondary-color);
}
.main{
    width: 100%;
    height: 100%;
}
.about{
    width: 100%;
    height: 352px;
}
.titles{
    font-size: var(--primary-size);
    text-align: center;
}
p{
    font-size: var(--secondary-size);
    text-align: center;
    margin: 20px 24px;
}
.proflie-image{
    width: 184px;
    height: 184px;
    border: 5px var(--secondary-color) solid;
    border-radius: 94px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -40px;
}
.projects{
    height: 640px;
}
.projects-grid{
    padding: 20px 40px 0px 40px;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.projects-grid--item{
    border: 1px black solid;
}
.skills{
    height:180px;
}
.skills-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-container--item{
    width: 10%;
    height: 60%;
    border: 1px black solid;
}
.contact{
    height:146px;
}
.contact-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container--item{
    width: 16%;
    height: 60%;
    border: 1px black solid;
}
.footer{
    width: 100%;
    height: 8vh;
    background-color: cadetblue;
}